.tpl-section {
	background-color: var(--color-bg-default);

	/* Ширины контейнеров */
	--container-xs: 560px;
	--container-s: 880px;
	--container-m: 1080px;
	--container-l: 1200px;

	/* Высчет расстояния от края окна до контейнера */
	--side-space-s: calc((100% - var(--container-s)) / 2);
	--side-space-m: calc((100% - var(--container-m)) / 2);
	--side-space-l: calc((100% - var(--container-l)) / 2);

	/* Высчет ширины областей внутри секции */
	--area-s-30: calc((var(--container-s) * 0.3) + var(--side-space-s));
	--area-s-40: calc((var(--container-s) * 0.4) + var(--side-space-s));
	--area-s-50: calc((var(--container-s) * 0.5) + var(--side-space-s));
	--area-s-60: calc((var(--container-s) * 0.6) + var(--side-space-s));
	--area-s-70: calc((var(--container-s) * 0.7) + var(--side-space-s));
	--area-m-30: calc((var(--container-m) * 0.3) + var(--side-space-m));
	--area-m-40: calc((var(--container-m) * 0.4) + var(--side-space-m));
	--area-m-50: calc((var(--container-m) * 0.5) + var(--side-space-m));
	--area-m-60: calc((var(--container-m) * 0.6) + var(--side-space-m));
	--area-m-70: calc((var(--container-m) * 0.7) + var(--side-space-m));
	--area-l-30: calc((var(--container-l) * 0.3) + var(--side-space-l));
	--area-l-40: calc((var(--container-l) * 0.4) + var(--side-space-l));
	--area-l-50: calc((var(--container-l) * 0.5) + var(--side-space-l));
	--area-l-60: calc((var(--container-l) * 0.6) + var(--side-space-l));
	--area-l-70: calc((var(--container-l) * 0.7) + var(--side-space-l));
}
