.friendlist {
	overflow: hidden;
	&__group {
		flex-flow: row wrap;
	}
	&__letter {
		width: 100%;
	}
	&__item {
		width: 80px;
		text-align: center;
		position: relative;
	}
	&__status {
		position: absolute;
		bottom: 0;
		right: var(--space-xs);
		border-radius: 50%;
		width: var(--space-s);
		height: var(--space-s);
		border: 2px solid var(--color-bg-default);
		&_view {
			&_online {
				background-color: var(--color-bg-success);
			}
		}
	}
}
