.tpl-section_structure_60-40 {
	.tpl-section__area {
		&:first-child {
			justify-content: flex-end;

			@media screen and (max-width: $screen-s-max) {
				justify-content: flex-start;
			}
		}

		&:last-child {
			justify-content: flex-start;
		}
	}

	&.tpl-section_size_s {
		display: grid;

		@media screen and (min-width: $screen-m) {
			grid-template-columns: var(--area-s-60) var(--area-s-40);

			.tpl-section__area {
				&:first-child {
					.tpl-section__container {
						max-width: calc(var(--container-s) * 0.6 - var(--gap));
						width: 100%;
					}
				}

				&:last-child {
					.tpl-section__container {
						max-width: calc(var(--container-s) * 0.4 - var(--gap));
						width: 100%;
					}
				}
			}
		}

		@media screen and (max-width: $screen-s-max) {
			grid-template-columns: 1fr;
		}
	}

	&.tpl-section_size_m {
		display: grid;

		@media screen and (min-width: $screen-m) {
			grid-template-columns: var(--area-m-60) var(--area-m-40);

			.tpl-section__area {
				&:first-child {
					.tpl-section__container {
						max-width: calc(var(--container-m) * 0.6 - var(--gap));
						width: 100%;
					}
				}

				&:last-child {
					.tpl-section__container {
						max-width: calc(var(--container-m) * 0.4 - var(--gap));
						width: 100%;
					}
				}
			}
		}

		@media screen and (max-width: $screen-s-max) {
			grid-template-columns: 1fr;
		}
	}

	&.tpl-section_size_l {
		display: grid;

		@media screen and (min-width: $screen-m) {
			grid-template-columns: var(--area-l-60) var(--area-l-40);

			.tpl-section__area {
				&:first-child {
					.tpl-section__container {
						max-width: calc(var(--container-l) * 0.6 - var(--gap));
						width: 100%;
					}
				}

				&:last-child {
					.tpl-section__container {
						max-width: calc(var(--container-l) * 0.4 - var(--gap));
						width: 100%;
					}
				}
			}
		}

		@media screen and (max-width: $screen-s-max) {
			grid-template-columns: 1fr;
		}
	}
}
