.digital-product {
	background-color: var(--color-bg-default);
	&__cover {
		height: 160px;
		overflow: hidden;
		.image {
			width: 100%;
		}
	}

	&__content {
		&:before {
			content: '';
			position: absolute;
			width: 40px;
			height: 6px;
			left: 50%;
			margin-top: calc(-1*var(--space-xl));
			margin-left: calc(-1*var(--space-l));
			background-color: var(--color-bg-ghost);
			border-radius: 3px;
		}
	}
}
