.badge_view_success {
	&.badge_weight_light {
		color: var(--color-typo-success);
		background-color: var(--color-bg-default);
		border: 1px solid var(--color-typo-success);
	}

	&.badge_weight_heavy {
		color: var(--color-bg-default);
		background-color: var(--color-typo-success);
	}
}
