.badge_view_warning {
	&.badge_weight_light {
		color: var(--color-typo-warning);
		background-color: var(--color-bg-default);
		border: 1px solid var(--color-typo-warning);
	}

	&.badge_weight_heavy {
		color: var(--color-bg-default);
		background-color: var(--color-typo-warning);
	}
}
