.payment {
	&_view {
		&_whole {
			background: var(--color-bg-default);
		}
		&_divided {
			background: var(--color-bg-default);
		}
	}

	&__header,
	&__methods,
	&__button {
		background: var(--color-bg-default);
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}
}
