.icon2_round_brand {
	border-radius: 50%;
	fill: var(--color-bg-default);
	background-color: var(--color-typo-brand);
	&.icon2_size_s {
		padding: var(--space-s);
	}
	&.icon2_size_m {
		padding: calc(var(--space-m) + var(--space-xxxs));
	}
}
