.meetup {
	min-height: 456px;
	box-sizing: border-box;
	&__photo {
		height: 170px;
		overflow: hidden;
	}
	&__description {
		background-color: var(--color-bg-default);
		&:before {
			content: '';
			position: absolute;
			width: 40px;
			height: 6px;
			left: 50%;
			/* margin-top: calc(-1*var(--space-xl)); */
			margin-left: calc(-1*var(--space-l));
			background-color: var(--color-typo-secondary);
			border-radius: 3px;
		}
	}
	&__feedback {
		background-color: var(--color-bg-default);
	}
	&__info {
		background-color: var(--color-bg-default);
	}
	&__rating {
		opacity: 0.7;
	}
}
